.tiktok-tab{
	text-decoration: none;
	margin: 10px;
	width: 30%;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	a{
		color: #E32500;
		text-decoration: none;
		display: block;
	}
}

.content-hide{
	display: none;
}

.content-show{
	display: block;
}

table{
	tr{
		border:0 !important;
	}
	td,th{
		text-align: center !important;
	}
}

ul{
	.active{
		background-color: #f37a43;
		color: white;
	}
}

.filters{
	margin-bottom: 10px;
	margin-top: 10xp;
	.filter-btn{
	    width: 100px;
	    color: #e32500;
	    background-color:transparent;
	    border-radius: 5px;
	    border-color: transparent;	    
	    display: inline-block;
	}
	.filter-active{
		background-color: #f37a43 !important;
		color: white !important;
	}
}
.top-comment-row{
	.row-data{
		border: 1px solid black;
		padding: 5px;
		overflow: hidden;
	}
	> img{
		position: absolute;
	    left: -35px;
	    top: 15px;
	}
	margin-bottom: 5px;
	position: relative;
	text-align: left;
	.top-comment-link{
		color: black;
		float: left;
		margin-bottom: 5px;
	}
	.top-comment-attribute{
		float: right;
		color: gray;
	}
}

.ranking_data_section{
	margin-bottom: 20px;
}