.ext-tiktok-window-container-hidden{
	width: 55px !important;
    left: 0px !important;
    padding: 5px 2px 5px 2px !important;
}

.chatterly-switch {
  position: relative !important;
  display: inline-block !important;
  width: 46px !important;
  height: 23px !important;
  cursor: pointer  !important;
  float: right;
  margin-bottom: 10px;
}

.chatterly-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.chatterly-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 46px !important;
  height: 23px !important;
}

.chatterly-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .chatterly-slider {
  background-color: #1fe733;
}

input:focus + .chatterly-slider {
  box-shadow: 0 0 1px #1fe733;
}

input:checked + .chatterly-slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.chatterly-slider.round {
  border-radius: 34px;
  background-color: #e5e5e5;
  margin: auto;
  display: inline-block;
}

.toggled_text{
  color: #fff!important;
  font-size: 10px!important;
  margin-left: 4px!important;
  position: absolute!important;
  line-height: 22px!important;
}

.toggled_text_off{
    right: 4px !important;
    font-weight: bold;
    font-size: 10px!important;
    margin-left: 4px!important;
    position: absolute!important;
    line-height: 22px!important;
}

.chatterly-slider.round:before {
  border-radius: 50%;

}

.loading-div{
  	display: none;
  	position: absolute;
	left: 0;
	top: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 99999999;
  	text-align: center;
  	background: rgba(0,0,0,0.5);
  	.lds-spinner {
	  color: official;
	  display: inline-block;
	  position: relative;
	  top: 30%;
	  width: 80px;
	  height: 80px;
	}
	.lds-spinner div {
	  transform-origin: 40px 40px;
	  animation: lds-spinner 1.2s linear infinite;
	}
	.lds-spinner div:after {
	  content: " ";
	  display: block;
	  position: absolute;
	  top: 3px;
	  left: 37px;
	  width: 6px;
	  height: 18px;
	  border-radius: 20%;
	  background: #fff;
	}
	.lds-spinner div:nth-child(1) {
	  transform: rotate(0deg);
	  animation-delay: -1.1s;
	}
	.lds-spinner div:nth-child(2) {
	  transform: rotate(30deg);
	  animation-delay: -1s;
	}
	.lds-spinner div:nth-child(3) {
	  transform: rotate(60deg);
	  animation-delay: -0.9s;
	}
	.lds-spinner div:nth-child(4) {
	  transform: rotate(90deg);
	  animation-delay: -0.8s;
	}
	.lds-spinner div:nth-child(5) {
	  transform: rotate(120deg);
	  animation-delay: -0.7s;
	}
	.lds-spinner div:nth-child(6) {
	  transform: rotate(150deg);
	  animation-delay: -0.6s;
	}
	.lds-spinner div:nth-child(7) {
	  transform: rotate(180deg);
	  animation-delay: -0.5s;
	}
	.lds-spinner div:nth-child(8) {
	  transform: rotate(210deg);
	  animation-delay: -0.4s;
	}
	.lds-spinner div:nth-child(9) {
	  transform: rotate(240deg);
	  animation-delay: -0.3s;
	}
	.lds-spinner div:nth-child(10) {
	  transform: rotate(270deg);
	  animation-delay: -0.2s;
	}
	.lds-spinner div:nth-child(11) {
	  transform: rotate(300deg);
	  animation-delay: -0.1s;
	}
	.lds-spinner div:nth-child(12) {
	  transform: rotate(330deg);
	  animation-delay: 0s;
	}
	@keyframes lds-spinner {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}
}
.ext-tiktok-window-container{
	z-index: 99999999999999999999;
	position: fixed;
	left:5px;
	bottom: 0;
	width: 240px;
    border: 2px solid black;
    padding: 10px;
    background-color: #f0f1f2;

    .liked-comments-link{
    	text-decoration: underline;
    	cursor: pointer;
    }

    .float-right{
    	float: right;
    }
    .center-text{
    	text-align: center;
    }
    .form-group{
    	margin-bottom: 5px;
    	overflow: hidden;
    }

    #login-form{
    	label{
    		display: inline-block;
    		width: 70px;
    		font-weight: bold;
    	}
    	input{
    		display: inline-block;
    		width: 135px;
    	}    	 
    }

    #user-dashboard{
    	.stats{
    		.form-control{
    			margin-top: 3px;
    			font-size: 12px;
    		}
    	}
    	div.form-control{
    		display: inline-block;
    		vertical-align: top;
    		width: 167px;
    		font-size: 14px;
    	}
    	label{
    		display: inline-block;
    		width: 45px;
    		font-weight: bold;
    	}
    }
    .close-msg{
    	cursor: pointer !important;
    	float: right;
    }

    .alert{
    	padding:5px;
    	margin-bottom: 5px;
    }

    .alert-danger {
	  color: #721c24;
	  background-color: #f8d7da;
	  border-color: #f5c6cb;
	}

	.alert-danger hr {
	  border-top-color: #f1b0b7;
	}

	.alert-danger .alert-link {
	  color: #491217;
	}

	.alert-success {
	  color: #155724;
	  background-color: #d4edda;
	  border-color: #c3e6cb;
	}

	.alert-success hr {
	  border-top-color: #b1dfbb;
	}

	.alert-success .alert-link {
	  color: #0b2e13;
	}
}

.ext-btn-red{
	background-color: #f37a43;
	border: 1px solid black;
	color: white;
	cursor: pointer !important;
	width: 75px;
	text-align: center;
}

//popup layout
.swal2-html-container{
	.top-comment-row{
    	border: 1px solid black;
    	padding: 5px;
    	margin-bottom: 5px;
    	overflow: hidden;
    	text-align: left;
    	.top-comment-link{
    		color: black;
    		float: left;
    		margin-bottom: 5px;
    	}
    	.top-comment-attribute{
    		float: right;
    		color: gray;
    	}
    }
}