<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="../js/moment.min.js"></script>
<script src="../js/moment-timezone.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/vuex.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/globals.js"></script>

<script src="../js/popup.js"></script>

</div>
