<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vuex.js"></script>
<script type="text/javascript" src="../js/datatable.js"></script>
<script type="text/javascript" src="../js/moment.min.js"></script>
<script type="text/javascript" src="../js/globals.js"></script>
<script type="text/javascript" src="../js/rankings.js"></script>

<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/sweetalert2.css">
<link rel="stylesheet" href="../css/datatable.css">
<link rel="stylesheet" href="../css/rankings.css">

<div class="ranking-titkok-container container" id="ranking-titkok-container">
	
	<ul class="nav nav-tabs">
	    <li class="tiktok-tab" id="summary-request"><a class="active" title="You" data-toggle="tab" href="#you">You</a></li>
	    <li class=" tiktok-tab" id="analyze-request"><a title="Company" data-toggle="tab" href="#company">Company</a></li>
	    <li class=" tiktok-tab" id="export-request"><a title="Ranking" data-toggle="tab" href="#ranking">Ranking</a></li>
  	</ul>


  	<div class="tab-content" style="padding-top:20px;">
	    <div id="you" class="tab-pane fade active show">
	        <section class="text-container col-xs-12">

	        	<div class="filters">
	        		<button class="filter-btn filter-active" v-on:click="show_user_all">All</button>
	        		<button class="filter-btn" v-on:click="show_user_30d">30D</button>
	        		<button class="filter-btn" v-on:click="show_user_24h">24H</button>
	        	</div>
	        	<div class="ranking_data_section" v-if="mostLikesArray_USER_ALL_on">
		        	<div class="top-comment-row" v-for="item in profile.mostLikesArray_USER_ALL" :key="item">
		        		<img v-if="item.rank == 1" src="../img/gold_medal.png" width="30px" />
	        			<img v-if="item.rank == 2" src="../img/silver_medal.png" width="30px" /> 
	        			<img v-if="item.rank == 3" src="../img/bronze_medal.png" width="30px" /> 
	        			<div class="row-data">
			        		<a class="top-comment-link" target="_blank" v-bind:href="item.link">{{item.comment}}</a>
			        		<div class="top-comment-attribute">{{item.likes}} Likes</div>
			        		<br/>
			        		<div class="top-comment-attribute">On {{item.commentedOn | displayDate}}
			        		</div>
			        	</div>
	      			</div>
	      		</div>


	      		<div class="ranking_data_section" v-if="mostLikesArray_USER_30D_on">
	      			<div class="top-comment-row" v-for="item in profile.mostLikesArray_USER_30D" :key="item">
	      				<img v-if="item.rank == 1" src="../img/gold_medal.png" width="30px" />
	        			<img v-if="item.rank == 2" src="../img/silver_medal.png" width="30px" /> 
	        			<img v-if="item.rank == 3" src="../img/bronze_medal.png" width="30px" /> 
	        			<div class="row-data">
			        		<a class="top-comment-link" target="_blank" v-bind:href="item.link">{{item.comment}}</a>
			        		<div class="top-comment-attribute">{{item.likes}} Likes</div>
			        		<br/>
			        		<div class="top-comment-attribute">On {{item.commentedOn | displayDate}}
			        		</div>
			        	</div>
	      			</div>
	      		</div>

	      		<div class="ranking_data_section" v-if="mostLikesArray_USER_24H_on">
	      			<div class="top-comment-row" v-for="item in profile.mostLikesArray_USER_24H" :key="item">
	      				<img v-if="item.rank == 1" src="../img/gold_medal.png" width="30px" />
	        			<img v-if="item.rank == 2" src="../img/silver_medal.png" width="30px" /> 
	        			<img v-if="item.rank == 3" src="../img/bronze_medal.png" width="30px" /> 
	        			<div class="row-data">
			        		<a class="top-comment-link" target="_blank" v-bind:href="item.link">{{item.comment}}</a>
			        		<div class="top-comment-attribute">{{item.likes}} Likes</div>
			        		<br/>
			        		<div class="top-comment-attribute">On {{item.commentedOn | displayDate}}
			        		</div>
			        	</div>
	      			</div>
	      		</div>
	        	
	        </section>
	    </div>
	    <div id="company" class="tab-pane fade">
	        <section class="text-container col-xs-12">
	        	<div class="filters">
	        		<button class="filter-btn filter-active" v-on:click="show_company_all">All</button>
	        		<button class="filter-btn" v-on:click="show_company_30d">30D</button>
	        		<button class="filter-btn" v-on:click="show_company_24h">24H</button>
	        	</div>
	        	<div class="ranking_data_section" v-if="mostLikesArray_COMPANY_ALL_on">
		        	<div class="top-comment-row" v-for="item in profile.mostLikesArray_COMPANY_ALL" :key="item">
		        		<img v-if="item.rank == 1" src="../img/gold_medal.png" width="30px" />
	        			<img v-if="item.rank == 2" src="../img/silver_medal.png" width="30px" /> 
	        			<img v-if="item.rank == 3" src="../img/bronze_medal.png" width="30px" /> 
	        			<div class="row-data">
			        		<a class="top-comment-link" target="_blank" v-bind:href="item.link">{{item.comment}}</a>
			        		<div class="top-comment-attribute">{{item.likes}} Likes</div>
			        		<br/>
			        		<div class="top-comment-attribute">by {{item.employee}} On {{item.commentedOn | displayDate}}
			        		</div>
			        	</div>
	      			</div>
	      		</div>


	      		<div class="ranking_data_section" v-if="mostLikesArray_COMPANY_30D_on">
	      			<div class="top-comment-row" v-for="item in profile.mostLikesArray_COMPANY_30D" :key="item">

		        		<img v-if="item.rank == 1" src="../img/gold_medal.png" width="30px" />
	        			<img v-if="item.rank == 2" src="../img/silver_medal.png" width="30px" /> 
	        			<img v-if="item.rank == 3" src="../img/bronze_medal.png" width="30px" /> 
	        			<div class="row-data">
			        		<a class="top-comment-link" target="_blank" v-bind:href="item.link">{{item.comment}}</a>
			        		<div class="top-comment-attribute">{{item.likes}} Likes</div>
			        		<br/>
			        		<div class="top-comment-attribute">by {{item.employee}} On {{item.commentedOn | displayDate}}
			        		</div>
			        	</div>
	      			</div>
	      		</div>

	      		<div class="ranking_data_section" v-if="mostLikesArray_COMPANY_24H_on">
	      			<div class="top-comment-row" v-for="item in profile.mostLikesArray_COMPANY_24H" :key="item">
		        		<img v-if="item.rank == 1" src="../img/gold_medal.png" width="30px" />
	        			<img v-if="item.rank == 2" src="../img/silver_medal.png" width="30px" /> 
	        			<img v-if="item.rank == 3" src="../img/bronze_medal.png" width="30px" /> 
	        			<div class="row-data">
			        		<a class="top-comment-link" target="_blank" v-bind:href="item.link">{{item.comment}}</a>
			        		<div class="top-comment-attribute">{{item.likes}} Likes</div>
			        		<br/>
			        		<div class="top-comment-attribute">by {{item.employee}} On {{item.commentedOn | displayDate}}
			        		</div>
			        	</div>
	      			</div>
	      		</div>
	        </section>
	    </div>
	    <div id="ranking" class="tab-pane fade">
	        <section class="text-container col-xs-12">
	        	<div class="filters">
	        		<button class="filter-btn filter-active" v-on:click="show_ranking_all">All</button>
	        		<button class="filter-btn" v-on:click="show_ranking_30d">30D</button>
	        		<button class="filter-btn" v-on:click="show_ranking_24h">24H</button>
	        	</div>

	        	<table id="ranking_table_all display" class="table table-striped" style="width:100%" v-bind:class = "!rankingArray_ALL_on ? 'content-hide':'content-show'">
	        		<thead>
					  	<tr>
						    <th>Employee</th>
						    <th>Comments Made</th>
						    <th>Likes Received</th>
						    <th>Average likes per comment</th>
						    <th>Awards</th>
					  	</tr>
					</thead>

					<tbody>
			        	<tr class="top-comment-row" v-for="item in profile.rankingArray_ALL" :key="item">
			        		<td>{{item.employee}}</td>
			        		<td>{{item.commentCount | kFormatter}}</td>
			        		<td>{{item.likeCount | kFormatter}}</td>
			        		<td>{{item.averageLikesPerComment | kFormatter}}</td>
			        		<td>
			        			<img src="../img/gold_medal.png" width="30px" /> x{{item.goldMedals}}
			        			<img src="../img/silver_medal.png" width="30px" /> x{{item.silverMedals}}
			        			<img src="../img/bronze_medal.png" width="30px" /> x{{item.bronzeMedals}}
			        		</td>
		      			</tr>
		      		</tbody>
	      		</table>

	      		<table id="ranking_table_30d display" class="table table-striped" style="width:100%" v-bind:class = "!rankingArray_30D_on ? 'content-hide':'content-show'">
	        		<thead>
					  	<tr>
						    <th>Employee</th>
						    <th>Comments Made</th>
						    <th>Likes Received</th>
						    <th>Average likes per comment</th>
						    <th>Awards</th>
					  	</tr>
					</thead>

					<tbody>
			        	<tr class="top-comment-row" v-for="item in profile.rankingArray_30D" :key="item">
			        		<td>{{item.employee}}</td>
			        		<td>{{item.commentCount | kFormatter}}</td>
			        		<td>{{item.likeCount | kFormatter}}</td>
			        		<td>{{item.averageLikesPerComment | kFormatter}}</td>
			        		<td>
			        			<img src="../img/gold_medal.png" width="30px" /> x{{item.goldMedals}}
			        			<img src="../img/silver_medal.png" width="30px" /> x{{item.silverMedals}}
			        			<img src="../img/bronze_medal.png" width="30px" /> x{{item.bronzeMedals}}
			        		</td>
		      			</tr>
		      		</tbody>
	      		</table>

	      		<table id="ranking_table_24h display" class="table table-striped" style="width:100%" v-bind:class = "!rankingArray_24H_on ? 'content-hide':'content-show'">
	        		<thead>
					  	<tr>
						    <th>Employee</th>
						    <th>Comments Made</th>
						    <th>Likes Received</th>
						    <th>Average likes per comment</th>
						    <th>Awards</th>
					  	</tr>
					</thead>

					<tbody>
			        	<tr class="top-comment-row" v-for="item in profile.rankingArray_24H" :key="item">
			        		<td>{{item.employee}}</td>
			        		<td>{{item.commentCount | kFormatter}}</td>
			        		<td>{{item.likeCount | kFormatter}}</td>
			        		<td>{{item.averageLikesPerComment | kFormatter}}</td>
			        		<td>
			        			<img src="../img/gold_medal.png" width="30px" /> x{{item.goldMedals}}
			        			<img src="../img/silver_medal.png" width="30px" /> x{{item.silverMedals}}
			        			<img src="../img/bronze_medal.png" width="30px" /> x{{item.bronzeMedals}}
			        		</td>
		      			</tr>
		      		</tbody>
	      		</table>
        	
	        </section>
	    </div>
    
  	</div>
</div>




