

<div class="ext-tiktok-window-container"  v-bind:class = "!extEnabled ? 'ext-tiktok-window-container-hidden':' '" id="ext-tiktok-window-container">
	<div v-if="extEnabled">
		<div class="loading-div" >
	        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	    </div>
	    <div class="toggle-section">
	    	<label class="chatterly-switch" style="">
		        <input v-model="extEnabled" type="checkbox">
		        <span class="chatterly-slider round">
		          <span class="toggled_text" v-if="extEnabled">ON</span>
		          <span class="toggled_text_off" v-else>OFF</span>
		        </span>
	      	</label>
	    </div>
	    <div class="header">
	    	<div><img v-bind:src="logo" style="padding-bottom: 10px;"/></div>
	    </div>
		<section v-if="errored">
	        <div id="error-msg" class="alert alert-danger message-container">
	            {{errorMsg}}
	            <div v-on:click="hideMessage" class="close-msg">X</div>
	        </div>
	    </section>
	    <section v-if="succeeded">
	        <div id="success-msg" class="alert alert-success message-container">
	            {{successMsg}}
	            <div v-on:click="hideMessage" class="close-msg">X</div>
	        </div>
	    </section>
		<div id="login-form" v-if="!loggedIn">
		  <div class="form-group">
		    <label for="client">Client</label>
		    <input type="text" :disabled="user.client.trim() != ''" v-model="user.client" class="form-control" name="client" id="client" placeholder="">
		  </div>
		  <div class="form-group">
		    <label for="name" class="col-xs-3">Name</label>
		    <input type="text" v-model="user.name" class="form-control" id="name" name="name" placeholder="">
		  </div>
		  <div class="form-group">
		  	<label for="language" class="col-xs-3">Language</label>
		  	<select class="form-select" v-model="user.lang" name="language" id="language">
			    <option v-for="(language, key) in languages" :value="key">
			      {{language}}
			    </option>
		  	</select>
			<small id="emailHelp" class="form-text text-muted">possible: DE/EN</small>
		  </div>

		  <br/>

		  <div class="form-group center-text">
		  	<button type="button" id="login-btn" class="btn btn-primary ext-btn-red" v-on:click="login">Login</button>
		  </div>
		</div>

		<div id="user-dashboard" v-else>
		  <div class="form-group stats">
		    <label for="client">Stats</label>
		    <div class="form-control">
		    	<p>Comments Today: <strong>{{profile.comments_today}}</strong></p>
		    	<p style="margin-bottom:5px;">Comments Overall: <strong>{{profile.comments_overall}}</strong></p>
		    	<p>Comments Likes(24h): <strong>{{profile.comments_likes_today}}</strong></p>
		    	<p>Comments Likes(overall): <strong>{{profile.comments_likes_overall}}</strong></p>
		    	<p class="liked-comments-link" v-on:click="showMostLikedPopup">Comments & Ranking</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="client">Client</label>
		    <div class="form-control">
		    	<p><strong>@{{user.client}}</strong></p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="client">Name</label>
		    <div class="form-control">
		    	<p><strong>{{jsUcfirst(user.name)}}</strong></p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="client">Score</label>
		    <div class="form-control">
		    	<p><strong>{{currentVideoScore}}%</strong></p>
		    </div>
		  </div>

		  <div class="form-group">
		  	<button type="button" id="logout-btn" class="btn btn-primary ext-btn-red" v-on:click="logout">Logout</button>	  	
		  	<button type="button" id="skip-btn" class="btn btn-primary ext-btn-red float-right" v-on:click="skip">Skip</button>
		  </div>

		  <div class="form-group">
		  	<button type="button" id="refresh-data" class="btn btn-primary ext-btn-red full-width" style="width:100%" v-on:click="loadVideos">Refresh Data</button>
		  </div>
		</div>
	</div>
	<div class="" v-if="!extEnabled">
		<div class="toggle-section">
	    	<label class="chatterly-switch" style="">
		        <input v-model="extEnabled" type="checkbox">
		        <span class="chatterly-slider round">
		          <span class="toggled_text" v-if="extEnabled">ON</span>
		          <span class="toggled_text_off" v-else>OFF</span>
		        </span>
	      	</label>
	    </div>
	    <div><img v-bind:src="logoShort" width="46px" style="padding-bottom: 10px;"/></div>
	</div>
</div>

